[submodule "deps/glm"]
	path = deps/glm
	url = git@github.com:g-truc/glm.git
[submodule "deps/glfw"]
	path = deps/glfw
	url = git@github.com:glfw/glfw.git
[submodule "deps/imgui"]
	path = deps/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "deps/vulkan-hpp"]
	path = deps/vulkan-hpp
	url = git@github.com:KhronosGroup/Vulkan-Hpp.git
[submodule "deps/glslang"]
	path = deps/glslang
	url = git@github.com:KhronosGroup/glslang.git
[submodule "deps/spirv-tools"]
	path = deps/spirv-tools
	url = git@github.com:KhronosGroup/SPIRV-Tools.git
